<!DOCTYPE html>

<head>
    <title>RESTfulBlogApp</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>

<body>
    <div class="ui inverted menu">
        <div class="ui container">
            

            <div class="header item" ><i class="pen square icon"></i>My Blog</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
        </div>
    </div>



    </p>