<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">Edit <%=blog.title%></div>
    <form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
        <div class="field">
            <label>Blog Title</label>
            <input type="text" name="blog[title]" value="<%=blog.title%>">
        </div>
        <div class="field">
            <label>Blog Image</label>
            <input type="text" name="blog[image]" value="<%=blog.image%>">>
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea rows="6" name="blog[body]"><%=blog.body%></textarea>
        </div>
        <button class="ui inverted orange button big" type="submit">Submit</button>
    </form>
</div>

<% include partials/footer %>