<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">My Blog</div>



    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Blog Title</label>
            <input type="text" name="blog[title]" placeholder="blog title">
        </div>
        <div class="field">
            <label>Blog Image</label>
            <input type="text" name="blog[image]" placeholder="blog image">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea rows="6" name="blog[body]"></textarea>
        </div>
        <button class="ui inverted orange button big" type="submit">Submit</button>
    </form>

</div>
    
<% include partials/footer %>