<% include partials/header %>

<div class="ui main text container ">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached segment">
        <div class="item ">
            <img class="ui centered rounded image" src="<%= blog.image%>">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description"></div>
            <p><%- blog.body %> </p>
        </div>

        <form id="delete" action="/blogs/<%=blog._id %>?_method=DELETE" method="POST">
            <button class="ui yellow button">DELETE</button>
        </form>
        <a class="ui purple button" href="/blogs/<%=blog._id%>/edit">EDIT</a>

        <a href="/blogs" class="ui olive button">go back</a>

    </div>

</div>


<% include partials/footer %>